body {
  margin: 0 auto;
  padding: 10px;
  background-color: floralwhite;
  color: #1B1B1B;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

img {
  width: 98%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border: 1px solid grey;
  border-radius: 3px;
}

ol li code {
  font-size: large;
}

.label {
  font-weight: bold;
}

.small-text {
  font-size: small;
}

.monospace {
  font-family: monospace;
}

.inline {
  display: inline-block;
}

.width-limit {
  margin: 0 auto;
  max-width: 650px;
}

#server-status {
  display: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid darkgrey;
  max-width: 600px;
}

#server-status-error {
  padding: 10px;
  margin: 10px;
  border: 1px solid darkgrey;
  max-width: 600px;
}

#status-online {
  display: none;
  color: darkgreen;
}

#status-offline {
  color: darkred;
}

#server-status div {
  margin-bottom: 2px;
}

#map-link {
  display: block;
  text-align: center;
}

#server-log {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid darkgrey;
  max-width: 1200px;
  max-height: 600px;
  overflow: scroll;
}

#say-header {
  margin-top: 15px;
  margin-bottom: 10px;
}

#say-form {
  border: 1px dashed darkgray;
  padding: 10px;
}

#say-form label {
  width: 100%;
}

#say-form, #say-send {
  margin-top: 5px;
}

#say-username, #say-text {
  margin-bottom: 5px;
  margin-right: 5px;
}

#say-text {
  width: 100%;
}

#say-dnf {
  position: absolute;
  left: -2000px;
}

#say-sending {
  display: none;
}

#say-error {
  color: darkred;
}

#say-success {
  display: none;
}

#say-notice {
  margin-top: 5px;
  margin-bottom: 0;
}

.maintenance-notice {
  padding: 20px;
  background: darkred;
  color: white;
}

.maintenance-notice h3 {
  margin: 0;
  margin-right: 20px;
}

.maintenance-notice h3,span {
  display: inline-block;
}
